body{
    margin: 0;
    color: #db984c;
    background-color: #343330;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*sección del header*/

.backround-header{
    height: 100%;
    width: 100%;
    background-image: url(../images/raul1.jpeg);
    background-size: cover;
    background-position: center;
    padding: 200px 0 100px 4px ;
    opacity: 0.8;
}

.presentation1, 
.presentation2,
.presentation3{
    padding-left: 10px;
    margin-bottom: 1px;
}
.presentation1{
    margin: 0;
    font-size: 50px;
    padding: 0px 0px 0px 10px;
}

nav {
    background-color: #45462A;
    width: 100%;
}

.nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.nav-item{
    display: inline-block;
}

.nav-a, a {
    color: #FFA737;
    display: flex;
    text-align: center;
    padding: 14px 16px;
    margin: 0 10px 0 10px;
    text-decoration: none;
}

.nav-a:hover {
    background-color: #4d3614;
}


@media screen and (max-width: 768px) {
    .nav-bar {
        display: none;
        text-align: center;
    }
    .nav-item {
        display: block;
    }
    .menu-btn {
        display: block;
        color: #FFA737;
        background-color: #45462A;
        text-align: center;
        padding: 14px 16px;
        cursor: pointer;
    }
}

.menu-btn:hover {
    background-color: #4d3614;
}

@media(min-width: 768px) {
    .menu-btn {
        display: none;
    }
}

/* Agregar animación para el despliegue */
.show {
    display: block;
}

/*seccion del acerca de mi*/

.card-presentation{
    margin: auto;
    border-radius: 5px;
    margin-top: 10px;       
    width: 100%;
    padding: 0 10px 0 10px;
    background: linear-gradient(#343330, #393836);
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(150px, 1fr));
}

.skills h1{
    text-align: center;
}
.who-i-am{
    text-align: right;
    margin-left: 20px;
    padding-right: 20px;
    border-right: 4px solid #393836;
}

.black-letters{
    font-weight: bold;
}

.profile-img{
    background-image: url(../images/raul.jpeg);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: auto;
    margin-top: 20px;
}

.personal-data{
    height: 100%;
    padding-left: 20px;
    border-left: 4px solid #393836;
}

@media (max-width:650px) {
    .profile-img{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .who-i-am{
        grid-column-start: 1;
        grid-row-start: 2;
    }
    .personal-data{
        grid-column-start: 1;
        grid-row-start: 3;
    }
}
.progress-bar-box{
    margin: 20px;
}

.porfolio-box {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
}

@media(max-width:650px){
    .porfolio-box {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

.title{
    text-align: center;
    grid-row-end: 1;
}
.porfolio-item{
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.explian{
    padding: 15px;
}

.contact{
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.contact-button{
    transition: background 0.5s;
}
.contact-button:hover{
    background: linear-gradient(#db984c, #4d3614);
}